@import "tailwindcss";


@theme{
  --color-header: rgb(222, 196, 153);
  --color-main: rgb(211, 179, 129);
}

@layer components {
  .swiper-btn {
    @apply w-11 h-11 rounded-full 
           bg-header text-white
           flex items-center justify-center
           text-xl
           transition-all duration-300
           hover:scale-105
           active:scale-95
           focus:outline-none focus:ring-0;
  }

  .swiper-button-disabled {
    @apply opacity-40 pointer-events-none;
  }
}
